extends ../layout
block main
  .wrapper-main-bg-block-index
    include ../components/_header.pug
    include ../components/_portfolio-slider.pug
    include ../components/_section-text.pug
    include ../components/_section-portfolio.pug
    include ../components/_footer.pug