doctype html
html(lang='ru')

	head
		meta(charset='utf-8')
		base(href="/")

		title Тестовое задание (11.03_portfolio)
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		//-Template Basic Images Start
		meta(property='og:image', content='path/to/image.jpg')
		link(rel="icon" href="/img/favicon/favicon.ico")
		link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png")


		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		//- Custom Browsers Color Start
		meta(name="theme-color" content="#000")
		//-load css
		link(rel="stylesheet" href="/css/main.min.css")


	body
		//-Custom HTML

		block main

		.hidden

		//-Load Scripts
		script(src="/js/scripts.min.js")
		//- google searct
		//-script upgrade your browser
		script(type='text/javascript', src='https://yastatic.net/browser-updater/v1/script.js', charset='utf-8')
		script.
			var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"15.5","chrome":"47","ie":"10","opera":"35","safari":"7","fx":"43","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"red"});
		//-loads_metrics
		//- Yandex.Metrika counter
