.wrapper-block-section-footer
  .container-fluid
    .row
      .col-xl-4
        ._wrapper-block-footer-main-1
          .insert-one
            h3 About Us
          .insert-two
            ul
              li
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto doloremque placeat repellendus in nesciunt culpa quidem fugiat ad ratione voluptates. Tempore quidem quaerat officia accusamus, ipsum deleniti id delectus totam.
              li.button-li
                button.button-custom Learn more
          .insert-free
            h3 Photo Stream
            ._wrapper-block-photo-stream
              ._wrapper-footer-image-stream
                img.img-responsive(src="/img/img-stream/img1.png", alt="image")
              ._wrapper-footer-image-stream
                img.img-responsive(src="/img/img-stream/img2.png", alt="image")
              ._wrapper-footer-image-stream
                img.img-responsive(src="/img/img-stream/img3.png", alt="image")
            ._wrapper-block-photo-stream
              ._wrapper-footer-image-stream
                img.img-responsive(src="/img/img-stream/img4.png", alt="image")
              ._wrapper-footer-image-stream
                img.img-responsive(src="/img/img-stream/img5.png", alt="image")
              ._wrapper-footer-image-stream
                img.img-responsive(src="/img/img-stream/img6.png", alt="image")
      .col-xl-4
        ._wrapper-block-footer-main
          h3 Latest tweets
          ul
            li
              .wrapper-li-twit-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Twitterbirsicon3.png", alt="images")
                ._wrapper-text-twit
                  p Check Out Dtbaker's 
                    span @Arduino&nbsp; 
                    |Sales Notification 
                    span #System&nbsp;  
                    |http:/
                  span 3 days ago
            li
              .wrapper-li-twit-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Twitterbirsicon3.png", alt="images")
                ._wrapper-text-twit
                  p Community Superstar Winner –
                    span &nbsp;#OrganicBeeMedia&nbsp;
                    |http://t.co/2Fs
                  span 3 days ago
            li
              .wrapper-li-twit-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Twitterbirsicon3.png", alt="images")
                ._wrapper-text-twit
                  p Clean
                    span &nbsp;#Websites&nbsp;   
                    |Designs for Your  
                    span #Inspiration&nbsp;  
                    |http://t.co/ SnR
                  span 3 days ago
            li
              .wrapper-li-twit-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Twitterbirsicon3.png", alt="images")
                ._wrapper-text-twit
                  p Cute Online 
                    span #Shops 
                    | &nbsp;http://t.co/ 1PoQN3bJ
                  span 3 days ago
            li
              .wrapper-li-twit-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Twitterbirsicon3.png", alt="images")
                ._wrapper-text-twit
                  p Download 40 vector 
                    span &nbsp;#icons&nbsp;
                    |package for 
                    span &nbsp;#FREE&nbsp; 
                    |http://t.co/2Fp5GLq
                  span 3 days ago
          .wrapper-block-footer-sharing-button
            ._block-text
              h5 Social Connection
            ._block-button-sharing
              ul
                li
                  img(src="/img/icons/facebook.png", alt="icons")
                li
                  img(src="/img/icons/googleplus.png", alt="images")
                li
                  img(src="/img/icons/twitter.png", alt="images")
                li
                  img(src="/img/icons/linkedin.png", alt="images")
                li
                  img(src="/img/icons/twitter.png", alt="images")
                li
                  img(src="/img/icons/youtube.png", alt="images")
                li
                  img(src="/img/icons/bloger.png", alt="images")
                li
                  img(src="/img/icons/dribbble.png", alt="images")
      .col-xl-4
        ._wrapper-block-footer-main-contact
          h3 Contact Info
          ul
            li
              .wrapper-li-contact-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Adress.png", alt="images")
                ._wrapper-text-contact
                  p Address: 12569 Saint Patrick des Prés,  85000 Paris, France
            li
              .wrapper-li-contact-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/Phone.png", alt="images")
                ._wrapper-text-contact
                  p Phone: +38 045 845-45-78
                  p.text-right +38 045 845-45-79
            li
              .wrapper-li-contact-block-main
                ._wrapper-block-icons
                  img(src="/img/icons/email.png", alt="images")
                ._wrapper-text-contact
                  p E-mail: 
                    span freeforwebdesign@gmail.com
          .wrapper-block-follow
            ul
              li
                h5 Follow Us
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde reprehenderit laborum culpa vel?
              li
                form.follow-form
                  input(type="text")
                  a(href="") 
                    img(src="/img/icons/emailicon.png", alt="image")
.section-footer-last
  .container-fluid
    .row
      .col-xl-6
        ._wrapper-block-footer-last-p.text-left
          p Copyright 2013 - FreeForWebDesign.com - All Rights Reserved
      .col-xl-6
        ._wrapper-block-footer-last.text-right
          ul
            li
              a(href="#")
                spam Home
            li
              a(href="#")
                spam Portfolio
            li
              a(href="#")
                spam Blog
            li
              a(href="#")
                spam About us
            li
              a(href="#")
                spam Contact