.wrapper-main-block-header
  .container-fluid
    .row
      .col-xl-6
        ._wrapper-main-block-header-img
          a(href="/")
            img.img-responsive(src="/img/img-header/logo.png", alt="Логотип компании")
      .col-xl-6
        ._wrapper-main-block-header-menu
          ul
            li
              a(href="#")
                spam Home
            li.active
              a(href="#")
                spam Portfolio
            li
              a(href="#")
                spam Blog
            li
              a(href="#")
                spam About us
            li
              a(href="#")
                spam Contact
                


