.wrapper-block-section-portfolio
  ._wrapper-block-section-work
    .row.no-gutters
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-0
              //img.img-responsive(src="/img/img-galary/1.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-1
              //img.img-responsive(src="/img/img-galary/2.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-2
              //img.img-responsive(src="/img/img-galary/3.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
  ._wrapper-block-section-work  
    .row.no-gutters
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-3
              //img.img-responsive(src="/img/img-galary/4.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-4
              //img.img-responsive(src="/img/img-galary/5.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
      .col-xl-4
        ._wrapper-block-portfolio-img
          a.portfolio-active(href="")
            .change-image-5
              //img.img-responsive(src="/img/img-galary/6.jpg", alt="Images")
              .mask
                .grew-botton
                  img(src="/img/icons/arrow.png", alt="Icons")
  ._wrapper-block-section-work
    .row.no-gutters  
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-6
              //img.img-responsive(src="/img/img-galary/7.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
      .col-xl-4
        ._wrapper-block-portfolio-img
          a(href="")
            .change-image-7
              //img.img-responsive(src="/img/img-galary/8.jpg", alt="Images")
              .mask-button
                button.button 
                  span More
      .col-xl-4
        a(href="")
          ._wrapper-block-portfolio-img
            .change-image-8
              //img.img-responsive(src="/img/img-galary/9.jpg", alt="Images")
              .mask-button
                button.button 
                  span More