.wrapper-block-section-text
  .row.no-gutters
      .col-xl-12
        ._wrapper-block-text
          h2 We create quality designs
          p We specialize in Web Design / Development and Graphic Design
        .col-xl-8
          ._wrapper-block-section-search-isotope
            ul
              li.active
                a(href="")
                  span All
              li
                a(href="")
                  span Website
              li
                a(href="")
                  span Logo
              li
                a(href="")
                  span Ul kit
              li
                a(href="")
                  span Photo
              li
                a(href="")
                  span App Design